:root {
    --text-color: #000051;
    --accent-color: red;
    --background-color: #fdd835;
    --hover-color: #e9dcd1;
}
body {
    margin: 0;
}

nav {
    height: 80px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
}
.main_logo {
    font-size: 30px;
    font-family: "Gugi", cursive;
}
.main_logo i {
    color: #000000;
    padding-left: 10px;
}
.main_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    /* font-family: 'Gugi', cursive; */
    font-family: "Jua", sans-serif;
    font-size: 18px;
}
.main_menu li {
    padding: 8px 12px;
}
.main_menu li:hover {
    background-color: var(--hover-color);
    border-radius: 10px;
}
.main_login {
    display: flex;
    list-style: none;
    padding-left: 0;
    /* font-family: 'Gugi', cursive; */
    font-family: "Jua", sans-serif;
    font-size: 18px;
}
.main_login li {
    padding: 8px 12px;
}
.main_login li:hover {
    background-color: var(--hover-color);
    border-radius: 10px;
}
.mainbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 24px;
    }
    .main_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .main_menu li {
        width: 100%;
        text-align: center;
    }
    .main_login {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .main_login li {
        width: 100%;
        text-align: center;
    }
    .mainbar_toggleBtn {
        display: block;
    }
    .main_menu.active,
    .main_login.active {
        display: flex;
    }
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.image-upload {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
}

#fileName {
    margin-left: 280px;
}

.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileInput {
    display: flex;
    align-items: center;
    width: 60%;
    height: 30px;
}

.buttonContainer {
    width: 10%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 0.8em;

    cursor: pointer;
}

.image-show {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80%;
    height: 80%;
}
.img {
    position: absolute;
    height: 100%;
    width: 100%;
}

label {
    cursor: pointer;
    font-size: 8px;
}

#SelectFile {
    visibility: hidden;
}

.arrow-down span {
    display: block;
    width: 1.5em;
    height: 1.5em;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    transform: rotate(45deg);
    margin: -10px;
    animation: animatearrows 2s infinite;
}

@keyframes animatearrows {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-1.5em, -1.5em);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(1.5em, 1.5em);
    }
}

.arrow-down span:nth-child(1) {
    animation-delay: -0.2s;
}
.arrow-down span:nth-child(2) {
    animation-delay: -0.4s;
}
.arrow-down span:nth-child(3) {
    animation-delay: -0.6s;
}

* {
    box-sizing: border-box;
}
body {
    font-family: SequentialistBB, cursive;
    font-size: 24px;
    margin: 0;
}

.sec {
    display: flex;
    justify-content: float-right;
    align-content: float-right;
    padding: 3rem;
}

blockquote.bubble {
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: 50% 50%;
    margin: 0 auto;
    text-align: center;
    height: 0;
    box-sizing: content-box;
    line-height: 1;
    margin-left: 650px;
}

blockquote.speech {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/speech-bubble.svg);
    width: 20%;
    padding-top: 3%;
    padding-bottom: 6%;
}

.border {
    margin-left: 20px;
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 50px;
    border: 4px double #000000;
    border-radius: 20px;
    height: 800px;
}

.border input {
    height: 40px;
}

.left {
    margin-top: 80px;
    margin-left: 50px;
}

.main-content {
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container {
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-content: center;
}

img {
    max-width: 300px;
    min-width: 100px;
}

input {
    width: 50%;
}

.main-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.resultImage img {
    width: 300px;
}
