:root {
    --text-color: #000051;
    --accent-color:  red;
    --background-color: #fdd835;
    --hover-color: #e9dcd1;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
}
.main_logo {
    font-size: 30px;
    font-family: 'Gugi', cursive;
}
.main_logo i{
    color: #000000;
    padding-left: 10px;
}
.main_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    /* font-family: 'Gugi', cursive; */
    font-family: 'Jua', sans-serif;
    font-size: 18px;
}
.main_menu li {
    padding: 8px 12px;
}
.main_menu li:hover {
    background-color: var(--hover-color);
    border-radius: 10px;
}
.main_login {
    display: flex;
    list-style : none;
    padding-left: 0;
    /* font-family: 'Gugi', cursive; */
    font-family: 'Jua', sans-serif;
    font-size: 18px;
}
.main_login li {
    padding: 8px 12px;
}
.main_login li:hover {
    background-color: var(--hover-color);
    border-radius: 10px;
}
.mainbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 24px;
    }
    .main_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%
    }
    .main_menu li {
        width: 100%;
        text-align: center;
    }
    .main_login {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%
    }
    .main_login li {
        width: 100%;
        text-align: center;
    }
    .mainbar_toggleBtn {
        display: block;
    }
    .main_menu.active,
    .main_login.active{
        display: flex;
    }
}

.arrow-down span{
  display: block;
  width: 1.5em;
  height: 1.5em;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  transform: rotate(45deg);
  margin: -10px;
  animation: animatearrows 2s infinite;
}

@keyframes animatearrows{
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-1.5em, -1.5em);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(1.5em, 1.5em);
  }
}

.arrow-down span:nth-child(1){
  animation-delay: -0.2s;
}
.arrow-down span:nth-child(2){
  animation-delay: -0.4s;
}
.arrow-down span:nth-child(3){
  animation-delay: -0.6s;
}

* {
  box-sizing: border-box;
}
body {
    font-family: SequentialistBB, cursive;
    font-size: 24px;
    margin: 0;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: float-right;
  align-content: float-right;
}
section {
  padding: 3rem;
}
blockquote.bubble {
	background-position: center;
  background-repeat: no-repeat !important;
	background-size: 100% 100%;
  margin-left: 200px;
  margin-top: 200px;
	text-align: center;
	height: 0;
	box-sizing: content-box;
	line-height: 1;
}
blockquote.electric {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/electric.svg);
  width: 13%;
  font-size: 20px;
  font-style: italic;
  padding: 4% 6% 12% 0%;
}
blockquote.electric span {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
.circular-sb {
  width: 200px;
  border: 5px solid #000000;
  padding: 80px 0px;
  float: right;
  margin-right: 200px;
  margin-bottom: 400px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  font-family: arial;
  position: relative;
  color: #000000;
}

.circle3 {
  border: 5px solid #000000;
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  left: -10px;
  bottom: 10px;
}

.circle3:before {
  content: "";
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  background: #fff;
}

.circle4 {
  border: 5px solid #000000;
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  left: -60px;
  bottom: 5px;
}
