:root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-content: center;
}

img {
    max-width: 300px;
    min-width: 100px;
}

input {
    width: 50%;
}
